$ git remote add origin https://github.com/mubassher10/Tic-Tac-Toe.git
# Creates a remote named "origin" pointing at your GitHub repository

git push origin master
# Sends your commits in the "master" branch to GitHub
